In [1]:
colors = ["red", "green", "blue", "purple"]
for color in colors:
    print(color)

red
green
blue
purple

In [14]:
users  = [
    {"name" : "John","age" : 34 , "education" : "Bachelors" , "country"  :"USA"},
    {"name" : "Sara", "age" : 23 , "education" : "Masters" , "country"  :"UK"},
    {"name" : "Mike", "age" : 29 , "education" : "PhD" , "country"  :"Germany"},
    {"name" : "Anna", "age" : 31 , "education" : "Bachelors" , "country"  :"France"},
    {"name" : "Ali", "age" : 27 , "education" : "Masters" , "country"  :"Turkey"},
    {"name" : "Sara", "age" : 26 , "education" : "PhD" , "country"  :"Italy"},
    {"name" : "John", "age" : 34 , "education" : "Bachelors" , "country"  :"USA"},
    {"name" : "Sara", "age" : 23 , "education" : "Masters" , "country"  :"UK"},
    {"name" : "Mike", "age" : 29 , "education" : "PhD" , "country"  :"Germany"},
    {"name" : "Anna", "age" : 31 , "education" : "Bachelors" , "country"  :"France"},
    {"name" : "Ali", "age" : 27 , "education" : "Masters" , "country"  :"Turkey"},
]


for user in users:
    name = user["name"]
    age = user["age"]
    education = user["education"] 
    country  = user["country"]
    print(name, age, education, country)
    if(name == "Sara" and education == "Masters"):
        print(name, age, education, country)
        continue
    if(name == "Anna" and education == "Bachelors"):
        print(name, age, education, country)
        break

John 34 Bachelors USA
Sara 23 Masters UK
Sara 23 Masters UK
Mike 29 PhD Germany
Anna 31 Bachelors France
Anna 31 Bachelors France

In [ ]:
# while Loop

number = 0
while number < 10:
    print(number)
    number += 1

In [15]:
# List Comprehensions
squares = [y**2 for y in range(12) ]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]